    <footer class="foot">
        <div class="foot-icon">
        <a href="https://www.facebook.com/share/1GjyrfsVu4/?mibextid=wwXIfr" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/raghulsan2?igsh=eG8ycnVuaXJra2Nj&utm_source=qr" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.linkedin.com/in/raghul-san-5804121b8?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
        <p><i class="fa-regular fa-copyright"></i> Ragul 2025</p>
    </footer>