<header class="header">
        <a href="#" class="logo">Portfolio</a>
        <input type="checkbox" id="check" class="menu">
        <label for="check" class="open"><i class="fa-solid fa-list-ul"></i></label>
        <label for="check" class="close"><i class="fa-solid fa-circle-xmark"></i></label>
        <nav class="navabar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skill</a>
            <a href="#service">Services</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>